<a href="https://colab.research.google.com/github/PhamBaVuong/DataAnalysisDeepLearning/blob/main/Lab03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import files
uploaded = files.upload()

Saving patientheartrate.csv to patientheartrate (1).csv

In [8]:
import pandas as pd
import io

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề ―Missing header in the csv file‖

Hiển thị và quan sát dữ liệu patient_heart_rate

In [9]:
patientheartrate = pd.read_csv(io.StringIO(uploaded['patientheartrate.csv'].decode('utf-8')))
patientheartrate.head(10)

   Unnamed: 0    1    Mickéy Mousé    56       70kgs  ...   69   71    -  -.1  -.2
0           0  2.0     Donald Duck  34.0   154.89lbs  ...    -    -   85   84   76
1           1  3.0      Mini Mouse  16.0         NaN  ...    -    -   65   69   72
2           2  4.0  Scrooge McDuck   NaN       78kgs  ...   79   72    -    -    -
3           3  5.0    Pink Panther  54.0  198.658lbs  ...    -    -   69  NaN   75
4           4  6.0     Huey McDuck  52.0      189lbs  ...    -    -   68   75   72
5           5  7.0    Dewey McDuck  19.0       56kgs  ...    -    -   71   78   75
6           6  8.0      Scööpy Doo  32.0       78kgs  ...   76   75    -    -    -
7           7  NaN             NaN   NaN         NaN  ...  NaN  NaN  NaN  NaN  NaN
8           8  NaN             NaN   NaN         NaN  ...  NaN  NaN  NaN  NaN  NaN
9           9  9.0     Huey McDuck  52.0      189lbs  ...    -    -   68   75   72

[10 rows x 11 columns]


patientheartrate thiếu phần headers, giả sử ta cần bổ sung headers vào cho dataframe patientheartrate, thông tin các cột như sau: column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]

In [13]:
columns_name = ['ID', 'Name', 'Age', 'Weight', 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
patientheartrate = pd.read_csv(io.StringIO(uploaded['patientheartrate.csv'].decode('utf-8')), names = columns_name)

In [14]:
patientheartrate.head(10)

      ID            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
NaN  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -   -.1   -.2
0.0  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
1.0  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
2.0  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
3.0  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4.0  6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5.0  7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6.0  8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
7.0  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
8.0  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN

Vấn đề 2: 
Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột ―Name‖ chứa bao gồm ―Firstname‖ và ―Lastname‖, giải pháp là ta sẽ tách ra làm 2 cột dựa vào giá trị khoảng trắng

In [16]:
patientheartrate[['Firstname', 'Lastname']] = patientheartrate['Name'].str.split(expand = True)
patientheartrate.head(10)

      ID            Name   Age      Weight  ... f0612 f1218 Firstname Lastname
NaN  1.0    Mickéy Mousé  56.0       70kgs  ...   -.1   -.2    Mickéy    Mousé
0.0  2.0     Donald Duck  34.0   154.89lbs  ...    84    76    Donald     Duck
1.0  3.0      Mini Mouse  16.0         NaN  ...    69    72      Mini    Mouse
2.0  4.0  Scrooge McDuck   NaN       78kgs  ...     -     -   Scrooge   McDuck
3.0  5.0    Pink Panther  54.0  198.658lbs  ...   NaN    75      Pink  Panther
4.0  6.0     Huey McDuck  52.0      189lbs  ...    75    72      Huey   McDuck
5.0  7.0    Dewey McDuck  19.0       56kgs  ...    78    75     Dewey   McDuck
6.0  8.0      Scööpy Doo  32.0       78kgs  ...     -     -    Scööpy      Doo
7.0  NaN             NaN   NaN         NaN  ...   NaN   NaN       NaN      NaN
8.0  NaN             NaN   NaN         NaN  ...   NaN   NaN       NaN      NaN

[10 rows x 12 columns]

In [22]:
patientheartrate.head(10)

      ID   Age      Weight m0006 m0612  ... f0006 f0612 f1218 Firstname Lastname
NaN  1.0  56.0       70kgs    72    69  ...     -   -.1   -.2    Mickéy    Mousé
0.0  2.0  34.0   154.89lbs     -     -  ...    85    84    76    Donald     Duck
1.0  3.0  16.0         NaN     -     -  ...    65    69    72      Mini    Mouse
2.0  4.0   NaN       78kgs    78    79  ...     -     -     -   Scrooge   McDuck
3.0  5.0  54.0  198.658lbs     -     -  ...    69   NaN    75      Pink  Panther
4.0  6.0  52.0      189lbs     -     -  ...    68    75    72      Huey   McDuck
5.0  7.0  19.0       56kgs     -     -  ...    71    78    75     Dewey   McDuck
6.0  8.0  32.0       78kgs    78    76  ...     -     -     -    Scööpy      Doo
7.0  NaN   NaN         NaN   NaN   NaN  ...   NaN   NaN   NaN       NaN      NaN
8.0  NaN   NaN         NaN   NaN   NaN  ...   NaN   NaN   NaN       NaN      NaN

[10 rows x 11 columns]

In [24]:
patientheartrate = patientheartrate.drop('Name', axis = True)

KeyError: ignored